.socialIconContainer {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px 20px;
}

.socialIconContainer:hover {
    background-color: #181842;
}

.socialIcon {
    width: 20px;
    min-height: 20px;
    color: #181842;
}

.socialIcon:hover {
    color: #fd9800;
}
